#include <dt-bindings/zmk/matrix_transform.h>
// #include <dt-bindings/zmk/trackball_pim447.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <4>;
        map = <
			RC(0,0)  
			RC(1,0)  RC(1,1)
			RC(2,0)  RC(2,1)
			RC(3,0)  RC(3,1)
        >;
    };

	kscan0: kscan_0 {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		diode-direction = "col2row";

		col-gpios
			= <&gpio1 1 GPIO_ACTIVE_HIGH> 
			, <&gpio1 3 GPIO_ACTIVE_HIGH>
			;
			
		row-gpios
			= <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
	};

};

&encoder {
	status = "okay";
};

// &i2c0 {
// 	compatible = "nordic,nrf-twi";
// 	status = "okay";
// 	sda-pin = <10>;
// 	scl-pin = <11>;
	
// 	trackball_pim447@a {
// 		compatible = "pimoroni,trackball_pim447";
// 		reg = <0xa>;
// 		label = "TRACKBALL_PIM447";

// 		move-factor = <1>;      // Increase pointer velocity (default: 1)
// 		//invert-move-x;        // Invert pointer X axis (left is right, and vice versa)
// 		//invert-move-y;        // Invert pointer Y axis (up is down, and vice versa)
// 		button = <0>;           // Send right-click when pressing the ball (default: 0, ie. left-click)
// 		scroll-divisor = <2>;   // Increase wheel velocity (default: 2)
// 		//invert-scroll-x;      // Invert wheel X axis (left is right, and vice versa)
// 		//invert-scroll-y;      // Invert wheel Y axis (up is down, and vice versa)
// 		mode = <PIM447_MOVE>;   // Act as pointer at startup (default: PIM447_SCROLL for mouse scroll)
// 	};
// };

